.login
  %h3
    login or
    %a{ href: url("#{request.base_url}/signup") } sign up
  %form{:action => "/login", :method => "post"}
    email
    %input{:name => "email", :type => "text"}
    %br
    password
    %input{:name => "password", :type => "password"}
    %br
    %button{:type => 'submit'} submit
