.login
  %form{:action => "/login", :method => "post", :class => "form-signin", :style => "max-width: 330px;margin: 0 auto;"}
    %label.sr-only{:for => "inputEmail"} Email address
    %input#inputEmail.form-control{:autofocus => "", :placeholder => "Email address", :required => "", :name => "email", :type => "email"}/
    %label.sr-only{:for => "inputPassword"} Password
    %input#inputPassword.form-control{:placeholder => "Password", :required => "", :name => "password", :type => "password"}/
    %br
    %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Sign in
    %h5
      dont have account yet?
      %a{ href: url("#{request.base_url}/signup") } sign up