.login
  %h3
    sign up or
    %a{ href: url("#{request.base_url}/login") } login
  %form{:action => "/signup", :method => "post"}
    email
    %input{:name => "email", :type => "text"}
    %br
    password
    %input{:name => "password", :type => "password"}
    %br
    confirm password
    %input{:name => "password_confirmation", :type => "password"}
    %br
    %button{:type => 'submit'} submit
