!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:charset => "utf-8"}
  %body
    .title
      %h4 about this app
    .content
      = yield